*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: $color-grey-1;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
button:active,
button:visited {
  border: none;
  background-color: none;
  outline: none;
  cursor: pointer;
}
